@import "normalize/normalize";

$color-main: #586b2e;
$color-dark: #333;
$color-gray: #b3b3b3;
$color-important: #fcbb2a;

$wrapper-width: 960px;

$logo-size: 80px;

$media-screen_large: "(max-width: #{$wrapper-width})";

body {
    background-color: #fff;
    color: $color-dark;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-serif;
    line-height: 1;
}
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}
p {
    line-height: 1.5;
}
.wrapper {
    width: $wrapper-width;
    margin: 0 auto;

    @media #{$media-screen_large} {
        width: auto;
        margin: 0 15px;
    }
}
.head {
    background-color: $color-main;
    height: $logo-size;
    overflow: hidden;

    &__logo {
        $indent: 5px;

        background: url("../img/logo.png") no-repeat 0 0 / cover;
        display: block;
        width: $logo-size - $indent * 2;
        height: $logo-size - $indent * 2;
        margin: $indent 0;
    }
}
.content {
    font-size: 16px;
}
.footer {
    background-color: $color-gray;
    padding: 20px 0;
}