@import "normalize/normalize";

$color-main: #586b2e;
$color-dark: #333;
$color-gray: #b3b3b3;
$color-important: #fcbb2a;

$wrapper-width: 960px;
$font-size: 16px;
$head-size: 80px;

$media-screen_large: "(max-width: #{$wrapper-width})";

body {
    background-color: #fff;
    color: $color-dark;
    font-size: $font-size;
    font-family: Helvetica, Arial, Sans-serif;
    line-height: 1;
}
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}
p {
    line-height: 1.5;
}
.wrapper {
    width: $wrapper-width;
    margin: 0 auto;

    @media #{$media-screen_large} {
        width: auto;
        margin: 0 15px;
    }
}
.head {
    background-color: $color-main;
    height: $head-size;
    overflow: hidden;

    &_logo {
        $indent: 5px;

        background: url("../img/logo.png") no-repeat 0 0 / cover;
        display: block;
        width: $head-size - $indent * 2;
        height: $head-size - $indent * 2;
        margin: $indent 0;
        float: left
    }
    &_menu {
        $margin: ($head-size - 16px) / 2;

        float: right;
        margin: $margin 0;


        &_item {
            display: inline-block;
            list-style-type: none;
            color: #fff;
            margin-left: 20px;
        }
        &_link {
            color: inherit;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
.content {
    font-size: $font-size;
    margin: 1em 0;
}
.footer {
    background-color: $color-gray;
    padding: 20px 0;
}